<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Said's Favorites</title>
    <link rel = "stylesheet" href = "../css/styles.css">
</head>
<body>
    <%include('includes/header.ejs') %>
    
    <h1>Bienvenido, <%= usuario %> </h1>

    <div>
        <a href = "/series">
            <button class = "boton">Series</button>
        </a>

        <a href = "/canciones">
            <button class = "boton">Canciones</button>
        </a>
    </div>

    <section class="pregunta">
        <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
        <p>Logra separar los datos de su representación visual, además facilita el manejo de errores y permite que el sistema sea escalable si es requerido, es posible agregar múltiples representaciones de los datos.</p>

        <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
        <p>Los archivos que se deben mantener incrementa bastante, es más complicado aprenderlo y aumenta la complejidad del sistema al separarlo en capas.</p>
    </section>

    <h3><a href="/logout" style="color: red;">Log Out</a></h3>

    <%- include('includes/footer.ejs') %>
</body>
</html>